<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
    point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="pathmap://ANATOMY_PROFILE/"
       target="platform:/plugin/org.eclipse.papyrus.tutorial.anatomy/profiles/"/>
 </extension>  
  
 <extension
   id="org.eclipse.papyrus.tutorial.anatomy.profile"
   name="Anatomy Profile"
   point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
   <pathmap
      name="ANATOMY_PROFILE"
      plugin="org.eclipse.papyrus.tutorial.anatomy"          
      path="profiles">
   </pathmap>
</extension>   

 <extension
    point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
    <profile
        description="Anatomy Profile"
        iconpath="icons/anatomy.png"
        name="Anatomy Profile"
        path="pathmap://ANATOMY_PROFILE/anatomy.profile.uml">
    </profile>
 </extension>
 
 <extension
       point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
    <elementTypeSet
          clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
          path="types/anatomy.elementtypesconfigurations">
    </elementTypeSet>
 </extension>
 
 <extension
       point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
    <elementTypeSet
          clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
          path="types/anatomy.diagram.elementtypesconfigurations">
    </elementTypeSet>
 </extension>

 <extension
       point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
    <elementTypeSet
          clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
          path="types/anatomy-gen.elementtypesconfigurations">
    </elementTypeSet>
 </extension>
 
  <extension
       point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
    <elementTypeSet
          clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
          path="types/anatomydi-gen.elementtypesconfigurations">
    </elementTypeSet>
 </extension> 
 <extension
       point="org.eclipse.papyrus.infra.newchild">
    <menuCreationModel
          model="newChild/anatomy.creationmenumodel">
    </menuCreationModel>
 </extension>
 
 <extension
       point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
       <!--
    <contribution
          file="configuration/anatomy.configuration"
          original="platform:/plugin/org.eclipse.papyrus.infra.viewpoints.policy/builtin/default.configuration">
    </contribution>    
    -->
    
    <configuration
          file="platform:/plugin/org.eclipse.papyrus.tutorial.anatomy/viewpoints/anatomy.configuration"
          priority="100">
    </configuration>
 </extension>

    <extension point="org.eclipse.papyrus.infra.ui.papyrusDiagram">
	     <diagramCategory
	            class="org.eclipse.papyrus.tutorial.anatomy.types.commands.CreateAnatomyModelCommand"
	            description="Anatomy diagrams"
	            icon="platform:/plugin/org.eclipse.papyrus.tutorial.anatomy/icons/anatomy.png"
	            id="Anatomy Category"
	            label="Anatomy Category">
	     </diagramCategory>
    </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated anatomy -->
      <package
            uri="http://www.eclipse.org/papyrus/Anatomy"
            class="Anatomy.AnatomyPackage"
            genModel="profiles/anatomy.genmodel"/>
   </extension>

  <extension point="org.eclipse.uml2.uml.generated_package">
     <profile uri="http://www.eclipse.org/papyrus/Anatomy"
           location="pathmap://ANATOMY_PROFILE/anatomy.profile.uml#_pWlLsBzSEeaUCNZJoDLoVw"/>
  </extension>  
</plugin>
